
$colorCyan: hsl(178, 100%, 50%);
$colorCyanBg: hsla(178, 100%, 50%, 0.432);
$colorBlanco: hsl(0, 0%, 100%);
$fuentePrincipal: 'Outfit', sans-serif;
$colorAzul: hsl(217, 54%, 11%);
$colorAzulPalido: hsl(216, 50%, 16%);
$colorAzulLinea: hsl(215, 32%, 27%);